body {
    margin: 0;
    font-family: 'Roboto';
}

.VideoSection{
    background-blend-mode: darken;
}

video {
    position: fixed;
    width: 100%;
    bottom: -8%;
    z-index: -1;

}

.SubText1 {
    font-size: 24px;
    color: #fff;
    position: relative;
    top: 15px;
    left: 85px;
}

.Icon1 {
    float: right;
    position: relative;
    bottom: 47px;
    right: 85px;
}

.MainSection {
    color: #fff;
    position: relative;
    left: 85px;
    top: 120px;
}

h2 {
    font-size: 70px;
    display: inline;
}

h3 {
    font-size: 56px;
    display: inline;

}


.SubText2 {
    font-size: 17px;
}

.Button {
    border: 1px solid #fff;
    background-color: #fff;
    padding: 10px 30px;
    text-decoration: none;
    color: #000;
    position: relative;
    left: 85px;
    top: 145px;
}

.SectionIcons {
    position: relative;
    left: 85px;
    top: 280px;
}

.Icon2 {
    padding: 0px 20px;
    filter: invert();
}

.Icon3 {
    padding: 0px 20px;
    filter: invert();
}

.Icon4 {
    padding: 0px 20px;
    filter: invert();
}